.footupdate {
    text-align:center                                                                                                   
}       

.login {
    float: right;
    width:80%;
}
.login ul>li {
    width: 110px;
    float:left;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
