@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.footupdate {                                                                                                           
    text-align:center                                                                                                   
}       

.login {
    float: right;
    width:80%;
}
.login ul>li {
    width: 110px;
    float:left;
}