
<div class="row">
    <%= if (todaybest) { %>
    <div class="article-block">
        <%= raw(todaybest.Content) %>
    </div>
    <% } %>
  <%= for (a) in articles { %>
  <div class="article-block">
    <h3><%= a.Title %></h3>
    <div>
        <p class="author"> Author: <span class="author-name"><%= a.Author %></span> Created: <%= a.CreatedAt.Format("2006-01-02 15:04:05") %> <%= if (uid > 0) { %>
        <a href="/article/edit?tid=<%= a.ID %>">[Edit]</a><% } %>
      </p>
     <div class="content">
      <%= raw(a.Content) %>
     </div>
    </div>
  </div>
  <% } %>
</div>